h1.page-header
  | Clean Order Detail 
  = order_status_label @clean_order
.panel.panel-default
  .panel-heading
    h2.panel-title
      = fa_icon 'sticky-note', text: 'Detail'
  .panel-body
    = render 'shared/clean_order/detail_list', clean_order: @clean_order
    .text-center
      = link_to staff_clean_orders_path, class: 'btn btn-default' do
        = fa_icon 'angle-left', text: 'Back to List'
      - accept_body = capture do
        = fa_icon 'thumbs-up', text: 'Accept'
      = link_to_if(@clean_order.staff_waiting?, accept_body, accept_staff_clean_order_path(@clean_order),
      -                      method: :put, class: 'btn btn-success',
      -                      data: { confirm: 'Is it OK to ACCEPT?' }) {}
      - refuse_body = capture do
        = fa_icon 'thumbs-down', text: 'Refuse'
      = link_to_if(@clean_order.staff_waiting?, refuse_body, refuse_staff_clean_order_path(@clean_order),
      -                      method: :put, class: 'btn btn-danger',
      -                      data: { confirm: 'Is it OK to REFUSE?' }) {}
      - complete_body = capture do
        = fa_icon 'check', text: 'Complete'
      = link_to_if(@clean_order.completable?, complete_body, complete_staff_clean_order_path(@clean_order),
      -                      method: :put, class: 'btn btn-success',
      -                      data: { confirm: 'Is it OK to COMPLETE?' }) {}
