h1.page-header
  | Welcome to Kaji Service!
.panel.panel-default
  .panel-heading
    h2.panel-title
      = fa_icon 'pencil', text: 'Current Status'
  .panel-body
    ul
      li
        | Nothing
.row.mt-25.mb-25
  .col-sm-4.text-center
    = link_to user_clean_orders_path, class: 'btn btn-lg btn-success' do
      = fa_icon 'trash', text: 'Clean Order'
  .col-sm-4.text-center
    = link_to '#', class: 'btn btn-lg btn-primary' do
      = fa_icon 'book', text: 'Cook Order'
  .col-sm-4.text-center
    = link_to '#', class: 'btn btn-lg btn-warning' do
      = fa_icon 'home', text: 'House Clean Order'
