<header class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'Top', root_path, class: 'navbar-brand' %>
    </div>
    <div class="navbar-form navbar-right">
      <%= link_to 'Staff Login', staff_root_path, class: 'btn btn-success' %>
      <%= link_to 'User Login', user_root_path, class: 'btn btn-primary' %>
    </div>
  </div>
</header>
