.panel.login {
  margin: 0 auto;
  width: 600px;
}

.table.short {
  width: 600px;
}

div.fc-time > span {
  font-size: 1.5em;
}

/* util */

.mb-25 {
  margin-bottom: 25px;
}
.mt-25 {
  margin-top: 25px;
}
