.login {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.table.short {
  width: 600px;
}

div.fc-time > span {
  font-size: 1.5em;
}

/* util */

.fs-16 {
  font-size: 16px;
}
