<header class="navbar navbar-inverse" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'Operator Top', operator_root_path, class: 'navbar-brand' %>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <% if operator_logged_in? %>
        <li><%= link_to 'Logout', operator_logout_path, method: :delete %></li>
      <% else %>
        <li><%= link_to 'Login', operator_login_path %></li>
      <% end %>
    </ul>
  </div>
</header>
