h1 Clean Orders
.text-right.mb-4
  = link_to 'Create Order', new_user_clean_order_path, class: 'btn btn-success'
= render partial: 'shared/clean_order/index_list', locals: { clean_orders: @clean_orders, login_type: :user }
