<h1 class="page-header">Clean Orders</h1>
<div class="text-right">
  <%= link_to 'Add', new_user_clean_order_path, class: 'btn btn-success' %>
</div>
<%= render partial: 'shared/clean_order/index_list', locals: { clean_orders: @clean_orders, login_type: :user } %>
